{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empresa</title>
    <link rel='stylesheet' href="{% static 'css/cabecera.css' %}">
    <link rel='stylesheet' href="{% static 'css/footer.css' %}">
    <link rel='stylesheet' href="{% static 'css/base.css' %}">

    <style>
        #content {
            min-height: 80vh;
        }
    </style>
</head>

<body>
    <!--Aquí va la cabecera-->
    {% include 'anuncios/html/cabeceraSimple.html' %}
    <!--Aquí va el contenido-->
    <main id="content">

    </main>
    <!--Aquí va el footer-->
    {% include 'anuncios/html/footer.html' %}

</body>

</html>