{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
    <link rel='stylesheet' href="{% static 'css/cabecera.css' %}">
    <link rel='stylesheet' href="{% static 'css/footer.css' %}">
    <link rel='stylesheet' href="{% static 'css/base.css' %}">

    {% block title %}<title>Mi Web en Django</title>{% endblock %}

</head>
<body>
    {% block video%}

    {% endblock %}
    <!--AQUÍ VA LA CABECERA-->
        {% include 'cabecera.html' %}
        {%block fashion %}
            
        {% endblock%}
    <!--AQUÍ VA EL CONTENIDO-->
        {% block content %}{% endblock %}
    <!--AQUÍ VA EL FOOTER-->  
        {% include 'footer.html' %}
    <!--AQUÍ VAN LOS SCRIPTS JS-->  
        {% block footScript %}
        {% endblock %}
</body>
</html>