{% load static %}
<style>

</style>

<footer class="footer-distributed">

			<div class="footer-left">

				<h3><img class="logo" src="{% static 'img/logo_pixelblack_negativo.png' %}"></h3>

				<p class="footer-links">
				<a href="{% url 'inicio' %}">Inicio</a>
				<a href="{% url 'empresa' %}">Empresa</a>
				<a href="{% url 'anuncios' %}">Anuncios</a>
				<a href="{% url 'contacto' %}">Contacto</a>
				</p>

				<p class="footer-company-name">PixelBlack S.L. © 2021</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>Calle Mina lucía, 19</span> 30360 LA UNIÓN (MURCIA)/p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+34 868 781 613</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p>  [contacto'&#64;'pixelblack.es]</p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>Nuestra Sociedad</span>
					PIXELBLACK S.L. es una empresa  con actividades de Formación Ocupacional, desarrollo y diseño Web y de aplicaciones de escritorio 
				</p>

				<div class="footer-icons">

					<a href="https://www.facebook.com/pixelblackSL"><i class="fa fa-facebook"></i></a>
					<a href="https://twitter.com/epapiros"><i class="fa fa-twitter"></i></a>
					<a href="https://www.linkedin.com/in/salcaraz/"><i class="fa fa-linkedin"></i></a>
					<a href="https://github.com/salcarazp/POO"><i class="fa fa-github"></i></a>

				</div>

			</div>

		</footer>